@charset 'utf-8';

section {
    width: 100%;
    position: relative;
}

.sec2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.box1,
.box2,
.box3 {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}

.box1 {
    height: 400px;
    margin-top: 100px;
    border-top: 1px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg1 {
    margin: 0 0 0 2%;
    width: 45%;
    height: 100px;
    background: url(./images/logo.png) no-repeat center / contain;
}

.text1 {
    width: 50%;
    height: 60%;
    text-align: center;
    padding: 5vh 0 0 0;
}

.text1>ul>li>h2>span::before {
    content: "";
    width: 14vw;
    height: 2vw;
    background-color: #d4edff91;
    position: absolute;
    top: 29vh;
    z-index: -1;
}

h2 {
    font-size: 2.5vw;
    letter-spacing: 5px;
}

.text1>ul>li:nth-child(2) {
    margin: 3vh 0 0 0;
    line-height: 7vh;
}

.text1>ul>li,
.text3>ul>li {
    letter-spacing: 3px;
    font-size: 1.1vw;
}

.text1>ul>li>span,
.text3>ul>li>span {
    font-size: 1.2vw;
    font-style: italic;
    text-decoration: underline;
}

.box2 {
    background-color: rgba(240, 248, 255, 0.3);
}

.box2>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.box2>ul>li {
    width: 20vw;
    height: 14vw;
    border: 1px solid #a19f9f;
    border-radius: 10px;
    letter-spacing: 5px;
    box-sizing: border-box;
    box-shadow: 10px 20px 30px 1px #ccc;
    padding: 4% 2%;
    text-align: center;
    margin: 23vh 0 0 0;
    line-height: 2vw;
    font-size: 1vw;
    background-color: #fff;
}

.title {
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
    margin: 0 0 8% 0;
}

.box3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg3 {
    width: 45%;
    height: 400px;
    background: url(./images/aboutImg3.png) no-repeat center / contain;
}

.text3 {
    width: 55%;
    height: 60%;
    text-align: center;
    position: relative;
    padding: 4vh 0 0 0;
}

.text3>ul>li>h2>span::before {
    content: "";
    width: 23.5vw;
    height: 2.3vw;
    background-color: #d4edff91;
    position: absolute;
    z-index: -1;
    top: 5vh;
}

.text3>ul>li:nth-child(2) {
    margin: 3vh 0 0 0;
    line-height: 7vh;
}

@media screen and (max-width:1024px) {
    .aboutImg1 {
        margin: 0 5%;
        width: 35%;
    }

    .text1 {
        width: 55%;
    }

    .text1>ul>li,
    .text3>ul>li {
        letter-spacing: 2px;
        font-size: 1.4vw;
    }

    .text1>ul>li>span,
    .text3>ul>li>span {
        font-size: 1.5vw;
    }

    .box2>ul>li {
        height: 17vw;
        font-size: 1.3vw;
        padding: 4% 1.5%;
        line-height: 2.5vw;
    }

    .title {
        font-size: 1.8vw;
        margin: 3% 0 10% 0;
    }

    .text3 {
        width: 55%;
        margin: 0 2% 0 0;
    }

    .aboutImg3 {
        width: 40%;
    }

}

@media screen and (max-width:767px) {

    .box1,
    .box2,
    .box3 {
        width: 100%;
        background-color: beige;
    }

    .box1 {
        padding: 0 3%;
        height: 500px;
        flex-direction: column;
    }

    .aboutImg1 {
        margin: 0;
        width: 60%;
    }

    .text1 {
        width: 100%;
    }

    h2 {
        font-size: 3.5vw;
    }

    .text1>ul>li:nth-child(2) {
        margin: 3vh 0 0 0;
        line-height: 7vh;
    }

    .text1>ul>li,
    .text3>ul>li {
        letter-spacing: 3px;
        font-size: 1.8vw;
    }

    .text1>ul>li>span,
    .text3>ul>li>span {
        font-size: 2vw;
        font-style: italic;
        text-decoration: underline;
    }

}