* {
  margin: 0;
  color: #333;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden,
.hidden > li {
  display: none;
}
#userid {
  display: none;
}

/* 헤더 시작 */
header {
  /* border: 1px solid red;
    box-sizing: border-box; */
  width: 100%;
  min-width: 1260px;
  height: 85px;
  position: relative;
}
header > h1 {
  width: 180px;
  height: 60px;
  /* border: 1px solid red;
    box-sizing: border-box; */
  margin-top: 15px;
  float: left;
  margin-left: 20px;
}
header::after {
  content: "";
  display: block;
  clear: both;
}
.nav {
  float: left;
  width: 400px;
  height: 75px;
}
.menu > li {
  box-sizing: border-box;
  width: 120px;
  float: left;
  margin-top: 35px;
}
.menu > li > a {
  box-sizing: border-box;
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
}

.menu > li > a:hover {
  font-weight: bold;
  color: #333;
}
.sub {
  text-align: center;
  /* margin-top: 4px; */
  position: absolute;
  z-index: 2;
}
.sub > li > a {
  /* border: 1px solid blue;
    box-sizing: border-box; */
  border-bottom: 1px solid #333;
  display: inline-block;
  width: 120px;
  height: 30px;
  padding-top: 5px;
  line-height: 27px;
  font-size: 14px;
}
.sub > li > a:hover {
  font-weight: bold;
  color: #333;
}
.sub > li:nth-child(1) > a {
  border-top: 1px solid #333;
}
.sub > li:nth-child(3) > a {
  border-bottom: none;
}
/* .contents{
    position: relative;
} */
.sub_bg {
  width: 100%;
  height: 108px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

/* footer */
footer {
  background-color: #333;
  width: 100%;
  height: 320px;
}
footer * {
  color: #fff;
  font-size: 14px;
}
.footer_top {
  width: 80%;
  height: 160px;
  border-bottom: 2px solid lightgray;
  margin-left: 192px;
}
.footer_top > nav {
  float: left;
}
.footer_top > nav > ul > li {
  float: left;
  margin-right: 20px;
  margin-top: 110px;
}
.footer_top > nav > ul > li:nth-child(1) {
  margin-left: 60px;
}
.footer_top > nav > ul > li > a:hover {
  font-weight: bold;
}
.footer_top > p {
  float: right;
  text-align: center;
  margin-top: 100px;
  margin-right: 50px;
}
.footer_bottom {
  /* border: 1px solid lightseagreen; */
  width: 80%;
  height: 150px;
  margin-left: 192px;
}
.footer_bottom > address {
  margin-left: 60px;
  float: left;
  padding-top: 30px;
}
.footer_bottom > ul {
  /* border: 1px solid rgb(245, 173, 215); */
  float: right;
  padding-top: 20px;
  margin-right: 70px;
}
.footer_bottom > ul > li {
  float: left;
  margin-right: 10px;
}
.footer_bottom > ul > li > a > i:hover {
  color: #ccc;
}
